.main-container{
 background-color: #13005A;
 height: 100vh;
 padding: 2rem;
 overflow-y: auto;
}

.heading-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.heaing{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.create-task{
  padding: 0.5rem 1.5rem;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  width: 50%;
  justify-content: space-between;
  -webkit-box-shadow: inset 0px -1px 12px 2px rgba(64,64,64,0.71);
  -moz-box-shadow: inset 0px -1px 12px 2px rgba(64,64,64,0.71);
  box-shadow: inset 0px -1px 12px 2px rgba(64,64,64,0.71);
 
}

.create-task input{
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-size: large;
}

.create-task button{
  background-color:#00337C ;
  color: #fff;
  border: none;
  border-radius: 100%;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.create-task button:hover{
  background-color:#1C82AD ;
  color: #ffffff;
}

.task-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.tasks-container{
  display: flex;
  flex-direction: column; 
  align-items: center;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 1rem;
  padding: 2rem;
  background-color: #1C82AD;
  border-radius: 10px;
}

.finished {
  background-color: #03C988;
}


.task {
  background-color: #f6ff00;
  padding: 1rem;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.task:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.task input{
  border: none;
  font-size: medium;
  outline: none;
  background-color: transparent;
}

.active-input{
  background-color: #13005A;
}
.active-input input{
  color: #fff;
}

 
.task .button{
  margin-left: 10px;
  cursor: pointer;
  color: #13005A;
}
.active-input .button{
  color: #fff;
}
.round{
   padding: 0.7rem;
  border: 2px solid #ffffff;
   background-color: #82e9a7;
   color: #01481c;
}

.sub-heading{
  color: #ffff;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.info{
  text-align: center;
  color: #fff;
  padding: 1rem;
}